{% extends 'admin/base.html' %}

{% block extrastyle %}{{ block.super }}
<style>
  :root {
    --primary: #2196F3;
    --secondary: ##BBDEFB;
    --accent: #536DFE;
    --primary-fg: #1976D2;
    --row-height: 200px;
    --link-fg: #536DFE;
    --link-hover-color: #757575;
    --link-selected-fg: #5b80b2;
    --default-button-bg: var(--primary-fg);
  }

  .photo-thumbnail {
    max-height: var(--row-height);
    min-height: auto;
    max-width: auto;
    min-width: auto;
    align-items: center;
  }

  .photo-thumbnail > img {
    width: auto;
    height: var(--row-height);
  }
</style>
{% endblock %}